.equalizer {
    background: #f3f3f3;
    border: 2px solid rgba(100, 100, 100, .1);;
    max-width: 400px;
    user-select: none;
    position: relative;
    font-family: sans-serif;
}

.preset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30px;
}

.preset-container .btn {
    width: 15%;
    margin: 0 4px;
    border: 2px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    background: white;
}

.btn {
    transition: all ease-in-out 120ms;
}

.btn:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .8);
}

.btn.disabled:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.preset-container .drop-down-container {
    display: flex;
    justify-content: center;
    width: 65%;
}

.drop-down-container .btn {
    width: 100%;
    font-weight: bold;
}

.preset-container .btn.disabled {
    background: #f3f3f3;
    color: #5e5e5e;
}

.preset-tray {
    position: absolute;
    opacity: .9;
    top: 27px;
    width: 64%;
    height: 200px;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .1);
    z-index: 10;
    overflow-y: scroll;
}

.preset-tray .item {
    border-bottom: 1px solid #e1dfdf;
    border-left: 1px solid #e1dfdf;;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    box-shadow: 0 0 2px 1px rgba(51, 51, 51, .2);
    cursor: pointer;
}

.preset-tray .item:hover {
    font-weight: bold;
}

.preset-tray .selected {
    font-weight: bold;
    background: rgba(57, 86, 238, 0.7);
    color: white;
}

.preset-tray::-webkit-scrollbar {
    width: 4px;
}

.preset-tray::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, .4);
    border-radius: 5px;
}

.preset-tray.hidden {
    display: none;
}

.band-array-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    height: 300px;
}

.band-container,
.scale-axis-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 2px;
    height: 90%;
    width: 30px;
}

.band-container .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #fff;
    height: 90%;
    max-height: 90%;
    width: 8px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(93, 150, 150, .2);
    z-index: 2;
}

.scale-axis-container {
    opacity: .5;
    z-index: 1;
    position: relative;
    width: 5px;
}

.scale-axis-container .row {
    position: absolute;
    width: 340px;
    border-top: 1px dashed #b9b3b3;
    left: 8px;
}

.row.r1 {
    top: 0;
}

.row.r2 {
    top: 11%;
}

.row.r3 {
    top: 22%;
}

.row.r4 {
    top: 33%;
}

.row.r5 {
    top: 43.7%;
    width: 350px;
    left: 5px;
    border-top: 1px dashed #565555;
}

.row.r6 {
    top: 53%;
}

.row.r7 {
    top: 63%;
}

.row.r8 {
    top: 73%
}

.row.r9 {
    top: 83%;
}

.row span {
    background: #f3f3f3;
    font-size: 10px;
    position: absolute;
    left: -30px;
    width: 35px;
    text-align: center;
    top: -7px;
}

.row.r5 span {
    width: 20px;
    left: -20px;
}

.box.disabled {
    background: #dfdfdf;
    box-shadow: none;
}

.box .fill {
    position: relative;
    background: #5e5e5e;
    height: 50%;
    border-radius: 10px;
}

.fill.disabled {
    background: rgba(0, 0, 0, .3);
}

.fill .knob {
    position: absolute;
    top: -5px;
    left: -3px;
    width: 13px;
    height: 13px;
    background: #ffffff;
    border-radius: 50%;
    outline: 2px solid rgba(100, 100, 100, .2);
}

.knob.disabled {
    background: #f3f1f1;
}

.band-container h6 {
    margin: 0;
    opacity: .5;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}
