/* Page setup */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100%;
    background: #333;
}

/* Player */
.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f3f3f3;
    width: 450px;
    height: 380px;
    padding: 2px;
    border-radius: 5px;
}

.audio-controls-container {
    height: 18.6%;
    background: #f3f3f3;
    margin-top: 2px;
}

/* EqualizerView and VisualizerView*/
.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #f3f3f3;
    user-select: none;
    position: relative;
    font-family: sans-serif;
    margin: 2px;
    background: url("./images/viz-bg.webp") no-repeat center;
    background-size: cover;
    color: #ffffff;
    font-weight: bold;
}

.component * {
    z-index: 2;
}

.component .overlay {
    position: absolute;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.visualizer canvas {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.visualizer .center-background {
    position: absolute;
    background: url("images/note-music.jpg") center;
    background-size: 170px;
    width: 110px;
    height: 110px;
    border: 2px solid #fff;
    border-radius: 50%;
}

/* Playlist */
.playlist {
    padding: 4px 10px;
}

.header-container,
.playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-container {
    height: 10%;
    flex-direction: row;
    justify-content: space-between;
}

.input.search {
    height: 15px;
    width: 60%;
    padding: 4px;
    border-radius: 4px;
    border: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.input.search:hover,
.input.search:focus {
    outline: none;
}

.button-container {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

.button-container button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 1.7em;
    background: #f3f3f3;
    padding: 1em;
    margin-left: .5em;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.playlist-container {
    width: 100%;
    height: 90%;
    border-radius: 5px;
    margin: 7px 0;
    max-height: 260px;
    background: rgba(10, 10, 10, .2);
    overflow-x: hidden;
}

.playlist .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
    font-size: 12px;
    box-shadow: 0 0 2px rgba(0,0, 0, .5);
    color: #72869f;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.playlist .row:hover {
    color: white;
}

.playlist .row button:hover {
    border: none;
    color: white;
}

.row .title {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
    width: 75%;
}

.metadata {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.metadata button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0;
    background: transparent;
    border: 0;
    color: #72869f;
    cursor: pointer;
}



/* Preset Container */
.preset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 10%;
}

.preset-container .btn {
    width: 15%;
    margin: 0 4px;
    border: 2px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    background: white;
}

.preset-container .btn {
    transition: all ease-in-out 120ms;
}

.preset-container .btn:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .8);
}

.preset-container  .btn.disabled:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.preset-container .drop-down-container {
    display: flex;
    justify-content: center;
    width: 65%;
}

.drop-down-container .btn {
    width: 100%;
    font-weight: bold;
}

.preset-container .btn.disabled {
    background: #f3f3f3;
    color: #5e5e5e;
}

.preset-tray {
    position: absolute;
    top: 27px;
    width: 64%;
    height: 200px;
    background: #ffffff;
    border-radius: 2px;
    overflow-y: scroll;
    color: black;
    z-index: 3;
}

.preset-tray .item {
    padding: 5px;
    border-bottom: 1px solid rgba(225, 223, 223, 0.56);
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
    transition: all ease-in-out 40ms;
}

.preset-tray .item:hover {
    background: #d9d9d9;
}

.preset-tray .selected {
    border: 0;
    font-weight: bold;
    color: white;
    background: rgba(57, 86, 238, 0.7) !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, .4);
    border-radius: 5px;
}

.preset-tray.hidden {
    display: none;
}

.band-array-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    height: 90%;
    z-index: 1;
}

.band-container,
.scale-axis-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 2px;
    height: 100%;
    max-height: 235px;
    width: 35px;
}

.band-container .box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #cfcfd1;
    height: 90%;
    max-height: 90%;
    width: 8px;
    border-radius: 10px;
}

.scale-axis-container {
    z-index: 1;
    position: relative;
    width: 5px;
}

.scale-axis-container .row {
    position: absolute;
    width: 380px;
    border-top: 1px dashed #b9b3b345;
    left: 12px;
}

.row.r1 {
    top: 0;
}

.row.r2 {
    top: 11%;
}

.row.r3 {
    top: 22%;
}

.row.r4 {
    top: 33%;
}

.row.r5 {
    top: 43.7%;
    width: 395px;
    left: 5px;
    border-top: 1px dashed #9f9b9b;
}

.row.r6 {
    top: 53%;
}

.row.r7 {
    top: 63%;
}

.row.r8 {
    top: 73%
}

.row.r9 {
    top: 83%;
}

.equalizer .row span {
    font-size: 10px;
    position: absolute;
    left: -35px;
    width: 35px;
    text-align: center;
    top: -7px;
}

.row.r5 span {
    width: 20px;
    left: -20px;
}

.box.disabled {
    background: #dfdfdf;
    box-shadow: none;
}

.box .fill {
    position: relative;
    background: #596dd3;
    height: 50%;
    border-radius: 10px;
}

.fill.smooth-transition {
    transition: all ease-in-out .3s;
}

.fill .knob {
    position: absolute;
    top: -5px;
    left: -3px;
    width: 13px;
    height: 13px;
    background: #ffffff;
    border-radius: 50%;
    outline: 2px solid rgba(89, 109, 211, 0.7);
}

.equalizer span {
    font-weight: normal;
    font-size: 10px;
    color: #bfc9c7;
}

.equalizer .box.disabled {
    background: #b7b7b7;
}

.equalizer .fill.disabled {
    background: rgb(112, 112, 112);
}

.equalizer .knob.disabled {
    background: rgb(159, 159, 159);
    outline: none;
}

.band-container span {
    margin: 0;
    text-align: center;
    padding: 8px;
}

/* Player Controls */
.playback-controller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
}

.playback-controller .section {
    padding: 0;
}

.playback-controller .start {
    display: flex;
    width: 20%;
}

.playback-controller .center {
    display: flex;
    justify-content: center;
    width: 50%;
}

.playback-controller .end {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.ctrl-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    transition: all ease-in-out 150ms;
}

.section.center .ctrl-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, .9);
    color: #f3f3f3;
    border-radius: 50%;
    font-size: 23px;
    border: 0;
    margin: 4px;
}

.ctrl-btn:hover,
.ctrl-btn.tapped,
.ctrl-btn:hover {
    background: rgba(0, 0, 0, .9) !important;
    box-shadow: 0 0 2px black;
    color: white;
}

.section.start,
.section.end {
    padding: 0 10px;
}

.ctrl-btn.shuffle {
    font-size: 18px;
}

/* Seek Slider */
.seek-slider-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: -2px 2px 0 2px;
}

input.progress {
    width: 92%;
    position: relative;
    cursor: pointer;
    margin: 0;
    -webkit-appearance: none;
}

.timer {
    width: 8%;
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    margin: 0 2px;
    text-align: end;
}

input.progress::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
    background: #808080;
}

input.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    bottom: 1px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: #1e1d1d;
    margin: -4px 0;
    z-index: 20;
}

.seek-slider-container .played-segment {
    position: absolute;
    display: inline;
    width: 1px;
    height: .3rem;
    top: 4px;
    background: #1e1d1d;
    left: 0;
    z-index: 1;
    pointer-events: none;
}